<div id="<%= dom_id employee %>">
  <p>
    <strong>Last name:</strong>
    <%= employee.last_name %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= employee.first_name %>
  </p>

  <p>
    <strong>Middle name:</strong>
    <%= employee.middle_name %>
  </p>

  <p>
    <strong>Employee no:</strong>
    <%= employee.employee_no %>
  </p>

  <p>
    <strong>Division:</strong>
    <%= employee.division_id %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= employee.department_id %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= employee.position %>
  </p>

  <p>
    <strong>User name:</strong>
    <%= employee.user_name %>
  </p>

</div>
