<div id="<%= dom_id barangay %>">
  <p>
    <strong>Region:</strong>
    <%= barangay.region_id %>
  </p>

  <p>
    <strong>Province:</strong>
    <%= barangay.province_id %>
  </p>

  <p>
    <strong>Municipality:</strong>
    <%= barangay.municipality_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= barangay.name %>
  </p>

  <p>
    <strong>Psgc code:</strong>
    <%= barangay.psgc_code %>
  </p>

</div>
