<div id="<%= dom_id department %>">
  <p>
    <strong>Division:</strong>
    <%= department.division_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= department.name %>
  </p>

  <p>
    <strong>Short name:</strong>
    <%= department.short_name %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= department.active %>
  </p>

</div>
