<p style="color: green"><%= notice %></p>

<%= render @product_line %>

<div>
  <%= link_to "Edit this product line", edit_product_line_path(@product_line) %> |
  <%= link_to "Back to product lines", product_lines_path %>

  <%= button_to "Destroy this product line", @product_line, method: :delete %>
</div>
