
<%= simple_form_for(@agent) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs mb-3">
    <%= f.association :region %>
    <%= f.input :last_name %>
    <%= f.input :first_name %>
    <%= f.input :middle_name %>
    <%= f.input :position %>
    <%= f.input :hired %>
    <%= f.input :email %>
    <%= f.input :contact_no %>
    <%= f.input :status %>
    <%= f.input :licensed %>
    <%= f.input :active %>
  </div>

  <div class="form-actions text-end">
    <%= link_to "Back", agents_path, class: 'btn btn-secondary' %>
    <%= f.button :submit, class: 'btn-success' %>
  </div>
<% end %>
