<div id="<%= dom_id municipality %>">
  <p>
    <strong>Region:</strong>
    <%= municipality.region_id %>
  </p>

  <p>
    <strong>Province:</strong>
    <%= municipality.province_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= municipality.name %>
  </p>

  <p>
    <strong>Psgc code:</strong>
    <%= municipality.psgc_code %>
  </p>

</div>
