<div id="<%= dom_id cooperative %>">
  <p>
    <strong>Name:</strong>
    <%= cooperative.name %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= cooperative.region_id %>
  </p>

  <p>
    <strong>Province:</strong>
    <%= cooperative.province_id %>
  </p>

  <p>
    <strong>Municipality:</strong>
    <%= cooperative.municipality_id %>
  </p>

  <p>
    <strong>Barangay:</strong>
    <%= cooperative.barangay_id %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= cooperative.address %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= cooperative.category %>
  </p>

  <p>
    <strong>Coop type:</strong>
    <%= cooperative.coop_type %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= cooperative.status %>
  </p>

  <p>
    <strong>Asset size:</strong>
    <%= cooperative.asset_size %>
  </p>

  <p>
    <strong>Total asset:</strong>
    <%= cooperative.total_asset %>
  </p>

</div>
