<div id="<%= dom_id product %>">
  <p>
    <strong>Product line:</strong>
    <%= product.product_line_id %>
  </p>

  <p>
    <strong>Product category:</strong>
    <%= product.product_category_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= product.code %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= product.active %>
  </p>

</div>
